.master-trip-cover .btn-group{
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;
}

.master-trip-cover:hover .btn-group {
  display: block;
}

.img.cover.selected {
  border: 5px solid rgb(100, 100, 255);
}
