.gallery-header{
  /*margin-top: 100px;*/
  /*font-size: 7em;*/
}
.gallery{
  height: auto;
  padding-top: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  box-sizing: border-box;
}
.three-image {
  padding: 10px;
  float:left;
}
.single-image {
  max-width: 20em;
  height: 20em;
}
img {
  width: 100%;
  height: 100%;
}