.detail-price {
  height: 80px;
  border: 1px solid rgba(80, 80, 80, 0.3);
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.detail-price:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.2);
  border: 1px solid transparent;
  box-shadow: 0 0 1px rgba(10, 10, 10, 0.2);
}

.detail-price.item .close {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.detail-price.item:hover .close {
  display: block;
}

.detail-price a {
  margin-top: 10px;
}

.detail-price.plus {
  font-size: 30px;
  padding-top: 15px;
}

.list-group-item.master-trip:hover, .list-group-item.master-trip:hover a {
  background: #2A3F54;
  color: white;
  cursor: pointer;
}

.div-gap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-gap-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-gap-30 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nofloat {
  float: none;
}
.nopadding {
  padding: 0;
}
.pad-10 {
  padding: 10px;
}

.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.text-white {
  color: #fff;
}

.text-primary-dark {
  color: #245682;
}

.text-right {
  text-align: right;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-black {
  color:#555;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.nomargin {
  margin: 0;
}
.text-orange {
  color: #f2881b;
}

.text-blue {
  color: #2E3094;
}

.bg-orange {
  background: #f2881b;
}

button.bg-orange , span.label.bg-orange , a.bg-orange {
  background: #f2881b;
  border-color: #e67f16;
}

button.bg-orange:hover ,  a.bg-orange:hover {
    background: #ff9f3b;
    border-color: #e28a2f;
    color:#fff;
}

.gap-sm {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-normal {
  font-size: 12px !important;
}

.text-small {
  font-size: 11px;
}
