/*YOUR CUSTOM STYLES*/
.bold {
  font-weight: bold;
}
.booking-item-price.small {
  display: inline-block;
  font-size: 14pt;
  padding-bottom: 10px;
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.search-sidebar h5{
  margin-top: 15px;
  margin-bottom: 5px;
}


/* Hengki */
.div-gap {
	margin-top: 10px;
	margin-bottom: 10px;
}

.div-gap-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.div-gap-30 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nofloat {
	float: none;
}
.nopadding {
	padding: 0;
}
.pad-10 {
	padding: 10px;
}

.pad-20 {
	padding: 20px;
}

.pad-30 {
	padding: 30px;
}

.box div.img-preview {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
	height: 200px;
	overflow: hidden;
	text-align: center;
	background: #ddd;
	width: 100%;
	border-radius: 0px !important;
}

.detail div.img-preview {
	max-height: 340px;
	overflow: hidden;
	text-align: center;
	background: #ddd;
	width: 100%;
	border:1px solid#ddd;
}
.detail div.img-preview img {
	object-fit:cover;
	width: 100%;
	height: 340px;
	overflow: hidden;
}
.box div.img-preview img {
	object-fit:cover;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.box div.img-preview div.head-label , .detail div.img-preview div.head-label {
	position: absolute;
	z-index: 99;
	padding: 5px;
	width: 88%;
	text-align: left;
}

.box div.img-preview div.head-label span , .detail div.img-preview div.head-label span{
	color: #fff;
	background: #D38C00;
	padding: 10px;
}

.box div.img-preview div.head-label-price {
	position: relative;
    padding: 5px;
    z-index: 999;
    width: 100%;
    background: rgba(255, 255, 255, 0.49);
    bottom: 55%;
    color: #000;

}

.detail div.img-preview div.head-label-price {
   position: absolute;
    padding: 20px;
    z-index: 999;
    width: 98%;
    background: rgba(255, 255, 255, 0.49);
    bottom: 38%;
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

.text-white {
	color: #fff;
}

.text-primary-dark {
	color: #245682;
}

.text-right {
	text-align: right;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.text-black {
	color:#555;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.nomargin {
	margin: 0;
}
.box {
	background: #fff;
}

.box.rounded {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.box div.body {
	padding: 10px;
	background: #fff;
}

.box div.footer {
	padding: 10px;
	background:#2E3094;
	color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.box div.header {
	padding: 10px;
}

.box div.body h5{
	font-weight: 400;
}

.box div.body article  {
	margin-top: 10px;
}
.box div.body article table {
	width: 100%;
}
.box div.body article table tr td {
	padding: 3px;
}

/* Tabs Section */
.box-tab-ku {
	padding: 10px;
}

.box-tab-ku .nav-tabs {
	border-bottom: 1px solid #ccc;
}

.box-tab-ku .tabbable .tab-content-parent {

}

.box-tab-ku .tabbable .tab-footer {
	background: #6b6b6b;
    padding: 8px;
    text-align: center;
    color: #eee;
}

.box-tab-ku .tabbable .tab-content {
	background: #fff;
	padding: 20px;

}

.box-tab-ku .nav-tabs > li > a {
    color: #555;
}



.box-tab-ku .nav-tabs > li > a span.fa-stack {
	float: left;
    top: -2px;
    color: #696969;
}

.box-tab-ku .nav-tabs > li.active > a, .box-tab-ku  .nav-tabs > li.active > a:hover, .box-tab-ku .nav-tabs > li.active > a:focus {
    background-color:#2E3094;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    color: #fff;
    border-color: #1f237f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
 }

.box-tab-ku .nav-tabs > li.active > a span.fa-stack {
	color: #245682;
}

.box-tab-ku .nav-tabs > li > a:hover {
	background-color:#2E3094;
	color: #fff;
    border-color: #1f237f;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.logo-head {
	background: url('/assets/images/icon-depan.png') no-repeat;
    height: 50px;
    background-position: center center;
}

.box-trip {
	border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#203e89+0,2b67b5+52,348bd8+100 */
background: #203e89; /* Old browsers */
background: -moz-linear-gradient(top,  #203e89 0%, #2b67b5 52%, #348bd8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #203e89 0%,#2b67b5 52%,#348bd8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #203e89 0%,#2b67b5 52%,#348bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203e89', endColorstr='#348bd8',GradientType=0 ); /* IE6-9 */

    color:#fff;
}

.text-orange {
	color: #f2881b;
}

.text-blue {
	color: #2E3094;
}

.bg-orange {
	background: #f2881b;
}

button.bg-orange , span.label.bg-orange , a.bg-orange {
	background: #f2881b;
	border-color: #e67f16;
}

button.bg-orange:hover ,  a.bg-orange:hover {
    background: #ff9f3b;
    border-color: #e28a2f;
    color:#fff;
}

.search-sidebar {
	background: #2E3094;
}
.gap-sm {
	margin-top: 5px;
	margin-bottom: 5px;
}

.text-normal {
	font-size: 12px !important;
}
.box.rounded-full {
	border-radius: 8px;
}
.bold {
	font-weight: 400 !important;
}
/* ------------- */
