#navbar-primary .navbar-nav { 
//  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
      > h1 {
      	color: #333;
      }
    }
    > a, hover, focus {
		color: #555;
		background: #fff none repeat scroll 0 0;
    }
  }
}

.form-group{
  margin-top: 15px;
}

.signup{
  margin-top: 10px;
  margin-bottom: 10px; 
  .signup-box{
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding-bottom: 20px;
  }
}
.help-block{
  font-size: .9em;
}
.content-wrapper{
  margin-bottom: 40px;
}